<header class="header-bar">
  <a href="/"> <img src="/logo.png" alt="" id="logo"/> </a>
  <div class="search-bar">
    <form class="form" action="/search" method="post" autocomplete="off">
      <span class="input-logo"><i class="fa fa-search"></i></span>
      <input class="input-bar" type="text" name="name" placeholder="Search by title" required="required">
    </form>
  </div>
  <a href="/history" id="history"> History </a>
</header>


<table class="search-table" align="center" cellspacing="0px">
  <caption> <h2>Search history</h2> </caption>

  <% @movie_info.each do |index| %>
    <tr class="search-results">
      <td class="search-poster">
        <a href="/movie/<%= index.imdbid %>"><img id="search-thumbnail" src="<%= index.poster %>" alt="" /></a>
      </td>

      <td class="search-title">
        <p>
          <a href="/movie/<%= index.imdbid %>"><%= index.title %></a> (<%= index.year %>)
        </p>
      </td>
    </tr>
  <% end %>

</table>
